#main-div {
    background-color: #ff7f00;
    min-height: 100vh;
    padding: 4em 2em;
}
#title {
    color: white;
    text-align: center;
    margin: 0;
}
#radio-group-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form-label {
    color: white;
}
#delivery-div {
    margin-top: 1em;
}
#button-next {
    width: 40%;
    margin-top: 2em;   
}
#button-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.MuiSvgIcon-root {
    color: white;
}

