@font-face {
    font-family: 'bebas';
    src: url('./assets/fonts/bebas-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/bebas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }