
/* #603814 */
#selectSize {
    background-color: white;
    padding: 10px 14px 10px 14px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.14), 
    0px 1px 5px 0px rgba(0,0,0,0.12);
}
.MuiInput-underline:before {
    border-bottom: none !important;
}
.MuiInput-underline:after {
    border-bottom: none !important;
}
#formControlSize {
    margin: 1em 0;
}
#buttonGroup {
    box-shadow: none;
}
#buttonOrdinary {
    background-color: #ff7f00;
    color: white;
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
    border-right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 88px;
}
#buttonSpicy {
    background-color: #ff7f00;
    color: white;
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
    border-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.activeClass {
    background-color: white !important;
    color: black !important;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.14),
    0px 1px 5px 0px rgba(0,0,0,0.12) !important;
    text-transform: none !important;
}
#buttonAdd {
    background-color: white !important;
    min-width: 48px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
#buttonMinus {
    background-color: white !important;
    min-width: 48px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#textFieldQty {
    background-color: #ff7f00;
    text-align: center;
    color: white;
    border-radius: 0px !important;
}
#selectAddOns {
    background-color: white;
    padding: 10px 14px 10px 14px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.14), 
    0px 1px 5px 0px rgba(0,0,0,0.12); 
}
#spicy {
    visibility: hidden;
}
#inputLabelDugo {
    color: white;
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
}
#addOnAdd {
    background-color: white !important;
    min-width: 48px;
    border-left: 1px solid #ff7f00 !important;
}
#addOnMinus {
    background-color: white !important;
    min-width: 48px;
    border-right: 1px solid #ff7f00 !important;
}


